@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Red+Hat+Display:wght@500;700;900&display=swap');

/* font-family: 'Fraunces', serif;
font-family: 'Red Hat Display', sans-serif; */

:root {
/* ### Primary */
--pale-blue: hsl(225, 100%, 94%);
--bright-blue: hsl(245, 75%, 52%);
/* ### Neutral */
--very-pale-blue: hsl(225, 100%, 98%);
--desaturated-blue: hsl(224, 23%, 55%);
--dark-blue: hsl(223, 47%, 23%);
}

* {
    padding: 0;
    margin: 0;
    Box-sizing: border-box
}

body{
    background-image: url(images/pattern-background-desktop.svg) ;
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: var(--very-pale-blue);
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 1rem;
    max-width: 400px;
    border: 1px solid rgba(188, 188, 188, 0.474);
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2)
}

img {
    width: 100%;
    height: 100%;
    border-radius: 1rem 1rem 0px 0px ;
}

h1 {
    color: var(--dark-blue);
    font-weight: 900;
    margin-top: 1rem;
}

p {
    color: var(--desaturated-blue);
    margin: 1rem 1.5rem;
}

.price {
    margin: 0;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-plan {
    background-color: rgb(179, 179, 214);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    width: 90%;
}

.box-plan img {
    width: 50px;
    height: 50px;
}

.annual-plan {
    display: flex;
    flex-direction: column;
    margin: 0 3.5rem 0 1.5rem;
}

.plan {
    color: var(--dark-blue);
    font-weight: 900;
}

button {
    padding: 10px;
    margin: 0.5rem 1.5rem;
}

.change {
    color: var(--dark-blue);
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
    font-size: 15px;
}

.change:hover {
    color: var(--bright-blue)
}

.pay {
    background-color: var(--bright-blue);
    color: var(--very-pale-blue);
    border: none;
    border-radius: 1em;
    cursor: pointer;
    box-shadow: 2px 2px 20px 2px rgb(183, 156, 207);
}

.pay:hover {
    background-color: var(--desaturated-blue);
    transition: background-color 0.25s;
}

.cancel {
    background-color: var(--very-pale-blue);
    border: none;
    cursor: pointer;
    font-weight: 600;
    color: var(--desaturated-blue);
}

.cancel:hover {
    color: var(--dark-blue);
}